* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: rgba(17, 17, 17, 0.904);
}

header {
  grid-area: header;
  border-bottom: 2px solid red;
}

li {
  list-style: none;
  text-transform: uppercase;
}
h1 {
  font-family: open sans, italic;
  color: antiquewhite;
}
h2 {
  color: antiquewhite;
  font-family: open sans, italic;
}

p {
  font-family: open sans, italic;
  color: antiquewhite;
}

a {
  text-decoration: none;
}

.icon {
  display: none;
}

header {
  height: 10rem;
}

.header_nav li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size:1rem;
}

.header_nav li a {
  color: antiquewhite;
  transition: 2s;
}

.header_nav li a:hover {
  background-color: grey;
  border-radius: 8px;
}

.header_nav ul {
  display: flex;
}

.header_nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 25rem;
  position: relative;
}

.img_logo p {
  position: relative;
  font-size: 1.7rem;
  bottom: 10rem;
  margin-left: 10px;
}
.img_logo img {
  margin-left: 15px;
  bottom: 4rem;
}

.titulos {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: titulos;
}

.titulos h1 {
  margin-bottom: 10px;
  font-size: 50px;
}

.titulos h2 {
  margin-bottom: 50px;
  font-size: 50px;
}

.img_trabajos h2 {
  color: black;
}

.img_trabajos p {
  color: black;
}

.img_trabajos {
  grid-area: contenido;
}
.img_trabajos ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.img_trabajos ul li div {
  width: 18rem;
  height: 31rem;
  background-color: antiquewhite;
  border: 2px solid rgb(255, 3, 3);
  border-radius: 6%;
  text-align: center;
  margin-top: 30px;
}

.img_trabajos div img {
  width: 17rem;
  height: 12rem;
  border: 1px solid white;
  border-radius: 6%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.img_trabajos p {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.img_trabajos h2 {
  margin-top: 15px;
}

.btn_reservar {
  background-color: gray;
  border-radius: 6%;
  margin-bottom: 10px;
  height: 3rem;
  width: 7rem;
  transition: 1s;
}

.btn_reservar:hover {
  transform: scale(1.2);
  background-color: rgb(78, 69, 69);
  color: white;
}

.nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: contenido;
}

.nosotros p {
  margin: 2px;
  max-width: 30rem;
  text-align: center;
}

.servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: contenido;
}

.servicios p {
  max-width: 30rem;
  margin: 10px;
  text-align: center;
}

.servicios h2 {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.servicios div {
  max-width: 30rem;
}

.galeria {
  grid-area: contenido;
}

.galeria img {
  width: 300px;
  border: 2px solid red;
  border-radius: 6px;
  margin: 15px;
  transition: 1s;
}

.galeria img:hover {
  transform: scale(1.2);
}

.galeria ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.ubicacion {
  grid-area: contenido;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ubicacion h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 50px;
}

.map iframe {
  border-radius: 4%;
}

footer {
  height: 10rem;
  display: flex;
  flex-direction: column;
  grid-area: footer;
  text-align: center;
  margin-top: 10rem;
  border-top: 2px solid red;
}

footer p {
  margin-top: 10px;
  font-size: 25px;
}

.redes :hover {
  transform: rotate(12deg) scale(1.3);
}
.redes img {
  transition: 2s;
}

.btn_facebook img {
  width: 50px;
  height: 50px;
}

.btn_instagram img {
  width: 50px;
  height: 50px;
}

.botones ul {
  display: flex;
  margin: 15px;
}

.botones ul li {
  margin-right: 10px;
}
.botones h3 {
  color: antiquewhite;
  text-align: right;
  margin-right: 10px;
  font-size: 25px;
}

.botones {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 2fr 200px;
  grid-template-rows: repeat(4, 3fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-areas:
    "header header header"
    "titulos titulos titulos"
    "contenido contenido contenido"
    "footer footer footer";
}

@media only screen and (max-width: 1066px) {
  .titulos h1 {
    font-size: 2.5rem;
  }
  .titulos h2 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 960px) {
  a {
    font-size: 1rem;
  }

  .header_nav ul {
    display: block;
    text-align: center;
  }

  .header_nav {
    display: inline;
    text-align: center;
  }

  .logo {
    max-width: 40%;
  }

  .img_logo p {
    display: none;
  }

  .header_nav nav {
    display: none;
    border-radius: 6%;
    margin-top: 15px;
    margin-right: 10px;
    width: 6rem;
  }

  #menu {
    text-align: center;
    padding: 2px;
    bottom: 12.5rem;
  }

  #menu:target {
    position: relative;
    display: block;
  }

  .menu_nav {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(63, 60, 60);
    width: 10rem;
    height: 12rem;
    border-radius: 6%;
  }

  .icon {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    filter: invert(100%);
  }

  .titulos h1 {
    font-size: 1.3rem;
  }

  .titulos h2 {
    font-size: 1.2rem;
  }

  .ubicacion h2 {
    font-size: 1.2rem;
  }

  .img_trabajos div p {
    font-size: 0.8rem;
  }
  .img_trabajos h2 {
    font-size: 1.2rem;
  }
  .nosotros p {
    max-width: 25rem;
  }
  .servicios p {
    max-width: 25rem;
  }

  .galeria img {
    max-width: 13rem;
  }

  .ubicacion iframe {
    width: 100%;
  }
  .footer p{
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 442px) {
  .titulos h1 {
    font-size: 1rem;
  }
  .titulos h2 {
    font-size: 1rem;
  }
  .ubicacion h2 {
    font-size: 1rem;
  }

  .footer p{
    font-size: 1rem;
  }
}
